<div class="card" *ngIf="player">
    <img src="{{player.pictureUrl}}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-body">
            {{player.firstName}} {{player.lastName}}
        </h5>
        <ul class="list-group list-group-flush">
            <li *ngIf="playerCountry" class="list-group-item"><span class="flag-icon flag-icon-{{playerCountry.isoCode}}"></span></li>
            <li class="list-group-item">{{positionEnum[player.position]}}</li>
            <li class="list-group-item">{{player.birthDate | date:'dd-MM-yyyy'}} ({{player.age}})</li>
            <li class="list-group-item">{{footEnum[player.foot]}} foot</li>
            <li class="list-group-item">{{player.salary | currency:'USD':'symbol':'1.2-2'}}/month</li>
        </ul>
    </div>
</div>