.form-container{
    margin-left: 250px;
}
.form-item{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
}

.form-item select{
    border: 1px solid lightgray;
}

.form-item input{
    border: 1px solid lightgray;
    max-width: 500px;
    width: 100%;
}

label{
    font-weight: 500;
}

input{
    max-width: 500px;
    width: 100%;
}