<div class="container" *ngIf="club">
    <div class="club-badge">
        <img src="{{club.badgeImageUrl}}" alt="">
    </div>
    <div class="content">
        <h1>{{club.name}}</h1>
        <span>President: {{club.president}}</span>
        <span>Year founded: {{club.yearFounded}}</span>
        <span>Trophies: {{club.trophyCount}}</span>
        <span>Squad size: {{club.squadCount}}</span>
    </div>
    <app-stadium-card [stadium]="club.stadium"></app-stadium-card>
    <app-coach-card [coach]="club.coach"></app-coach-card>
    <div>
        <app-club-squad [squad]="club.squad"></app-club-squad>
    </div>
</div>