.container {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  width: 100%;
}

#stadium-detail {
    align-self: flex-end;
}

#coach-detail {
    align-self: center;
}
