<h1>{{title}}</h1>

<div *ngFor="let continent of continents">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
        <ngb-panel title="{{continent.name}}">
            <ng-template ngbPanelContent>
                <table class="table" *ngIf="continent.countries.length">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Flag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let country of continent.countries">
                            <td>{{country.name}}</td>
                            <td><img src="{{country.flagImageUrl}}"></td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>